@using Orchard.Security;
@using Orchard.UI.Resources;
@using Orchard;

@{
    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");
    var writer = ViewContext.Writer;
    Style.Include("site.css");
    Script.Require("jQueryValidateUnobtrusive").AtFoot();
    Script.Include("admin.js").AtFoot();
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @{
        DisplayHelper.Metas(writer);
        DisplayHelper.HeadScripts(writer);
        DisplayHelper.StylesheetLinks(writer);
    }
</head>
<body>
    <div id="layout-content">
        <div id="header" role="banner">
            <div class="zone zone-header">
                <div id="branding">
                    <div id="app"><a href="/">Demo</a></div>
                    <div id="site"><a href="/">Demo</a></div>
                </div>
                @Html.Partial("User")
                <h1 id="page-title">@ViewBag.Title</h1>
            </div>
        </div>
        <div id="navshortcut">
            <a href="#Menu-admin">
                Skip to navigation
            </a>
        </div>

        <div id="layout-main">
            <div id="main" role="main">
                @Html.Partial("Messages")

                @Html.Partial("LocalMenu")
                <div id="content" class="group">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div id="menu" style="color:#ffffff;">
            @Html.Partial("Menu")
        </div>
    </div>

    <div id="footer" role="contentinfo">
        @{
            DisplayHelper.FootScripts(writer);
        }
    </div>
</body>
</html>